<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Skizmflop Add Counties</title>
<link rel="icon" th:href="@{/img/icon-skizmflop_256px.png}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
</head>
<style>
	
</style>
<body class="page">
<div id="rgb"></div>
	<script type="text/javascript">
	   $(function() {
		   
	   });
	</script>
	
	<select id="stateSelector">
	   
	</select>

</body>
</html>